@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
body{
    font-family: "Cinzel", serif !important;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  background-color: rgba(33, 37, 41);
}
#projects{
    display: grid;
    column-gap: 100px;
    row-gap: 20px;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
}
#jobexp{
    width: 400px;
    margin: 20px auto 50px auto;
}
#summary{
    margin: 20px auto 50px auto;
    display: flex;
}
#skillek{
    background-color: white;
    margin-bottom: 50px;
}
#pro{
    color: white;
    text-align: center;
}
#contact{
    width: 1500px;
    text-align: center;
    display: block;
    margin: 50px auto auto;
    font-size: 20px;
}
#ul1{
    border-radius: 10px;
}
